- if params[:controller] == 'about'
  .well
    %h3 Location Info
    %ul
      %li My Bookstore
      %li 234 Krakow Street
      %li Warsaw
      %li Phone: (123) 456 789
      %li Email: support@mybookstore.com

- if params[:controller] == 'books' && params[:action] == 'index' || params[:action] == 'show'
  .list-group
    - @categories.each do |category|
      = link_to category.name, category_path(category.id), class: 'list-group-item'