@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 50px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #666;
  line-height: 1.5em;
}

header, footer {
  background: #333;
  color: #fff;
}

header {
  height: 80px;
  margin-bottom: 20px;
}

footer {
  background: #333;
  color: #fff;
  height: 60px;
  margin-top: 20px;
  text-align: center;
  padding-top: 20px;
}

#books-index {
  img {
    width: 100%;
    padding: 3px;
    border: 1px #ccc solid;
  }
  h3 {
    height: 50px;
  }
  .btn {
    display: block;
    margin-top: 20px;
  }
}