@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 50px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #666;
  line-height: 1.5em;
}

header {
  background: #333;
  color: #fff;
  height: 80px;
  margin-bottom: 20px;
}
